@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --archive-bg-0: #7cb2ff;
    --archive-bg-1: #4dffff;
    --archive-bg-2: #9ac78b;
    --archive-bg-3: #80f1b0;
    --archive-bg-4: #ff1344;
    --archive-bg-5: #ffb24a;
    --archive-bg-6: #3c00ff;
  }
}

@layer utilities {
  .text-stroke-lg {
    -webkit-text-stroke: 2px #000;
    -webkit-text-fill-color: white;
  }

  .text-stroke-sm {
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.6;
  letter-spacing: -0.04em;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: white;
  background: black;
}

input,
button,
textarea {
  padding: 0;
  font-size: 1rem; /*firefox*/
  outline: none;
  letter-spacing: -0.04em;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  word-break: keep-all;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}